ion-header {
  --ion-border-color: transparent;

  ion-toolbar {
    --background: #1e1e1e;
    --color: var(--ion-color-primary-contrast);
    --border-radius: 0 0 15px 15px;
    box-shadow: 0px 4px 6px rgba(255, 255, 255, 0.2);
    padding: 0 10px;

    ion-title {
      text-align: center;
      font-size: 1.4rem;
      font-weight: bold;
      position: relative;
      color: aquamarine;
      

      .wmm {
        font-size: 0.9rem;
        font-weight: normal;
        color: rgba(255, 255, 255, 0.7);
      }
    }

    ion-buttons {
      ion-button {
        color: white;
        font-size: 1.2rem;
        transition: transform 0.2s ease-in-out, opacity 0.2s;

        &:hover {
          transform: scale(1.1);
          opacity: 0.8;
        }
      }
    }

    ion-menu-button {
      --color: white;
      --border-radius: 50%;
      --padding: 8px;
      transition: background 0.3s ease-in-out;

      &:hover {
        background: rgba(255, 255, 255, 0.2);
      }
    }
  }
}
