<app-header [showMenuButton]="true" title="Sensores"></app-header>
<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title>GPS</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Latitud: {{ position?.coords?.latitude }}</p>
      <p>Longitud: {{ position?.coords?.longitude }}</p>
      <p>Precisión: {{ position?.coords?.accuracy }} metros</p>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Acelerómetro</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>X: {{ accelerometerData.x | number:'1.1-1' }}</p>
      <p>Y: {{ accelerometerData.y | number:'1.1-1' }}</p>
      <p>Z: {{ accelerometerData.z | number:'1.1-1' }}</p>
      <p>Alpha: {{ orientationData.alpha | number:'1.1-1' }}</p>
      <p>Beta: {{ orientationData.beta | number:'1.1-1' }}</p>
      <p>Gamma: {{ orientationData.gamma | number:'1.1-1' }}</p>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Información del Dispositivo</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Modelo: {{ deviceInfo?.model }}</p>
      <p>Plataforma: {{ deviceInfo?.platform }}</p>
      <p>Versión del SO: {{ deviceInfo?.osVersion }}</p>
      <p>Fabricante: {{ deviceInfo?.manufacturer }}</p>
      <p>Memoria: {{ deviceInfo?.memUsed }}</p>
      <ion-button expand="full" (click)="shareDeviceInfo()">Compartir Información</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>